Repository Yakkity-Yulelogs/reactive-nutshell, pull requests merged in 2019-12, with the labels that each got.

#30 Rb api manager
  src/modules/ApiManager.js
Labels: Friends

#37 Rb friends list
  api/database.json.example
  src/components/ApplicationViews.js
  src/components/friends/ApiFriends.js
  src/components/friends/FriendsCard.js
  src/components/friends/FriendsList.js
Labels: Friends

#40 Rc see friends events
  src/components/events/Events.css
  src/components/events/EventsApiManager.js
  src/components/events/EventsCard.js
  src/components/events/EventsList.js
Labels: Events, Friends

#49 Rb messages
  src/components/ApplicationViews.js
  src/components/messages/ApiMessages.js
  src/components/messages/MessagesCard.js
  src/components/messages/MessagesEditForm.js
  src/components/messages/MessagesList.js
Labels: Messages

#53 Rb new message input
  src/components/ApplicationViews.js
  src/components/messages/ApiMessages.js
  src/components/messages/MessagesList.js
  src/components/messages/MessagesNewForm.js
Labels: Messages

#56 add friend button logic showing correctly
  src/components/messages/MessagesCard.js
  src/components/messages/MessagesList.js
Labels: Friends, Messages

#61 Rc delete own events
  api/database.json.example
  src/components/events/EventsApiManager.js
  src/components/events/EventsCard.js
  src/components/events/EventsHelpers.js
  src/components/events/EventsList.js
  src/components/events/EventsNewForm.js
Labels: Events

#62 Rb scroll chat
  src/components/messages/MessagesCard.js
  src/components/messages/MessagesList.js
Labels: Messages

#64 Rc edit own events
  src/components/ApplicationViews.js
  src/components/events/EventsApiManager.js
  src/components/events/EventsCard.js
  src/components/events/EventsEditForm.js
  src/components/events/EventsList.js
Labels: Events

#72 docs: add demo and update README instructions
  README.md
  nutshell.gif
Labels: documentation
